node_modules
.DS_Store
.env*
!.env.example
.vscode/*
!.vscode/settings.json
.next
out
dist
coverage
*.tsbuildinfo
apps/worker/src/*.js
apps/worker/src/*.js.map
packages/*/src/*.js
packages/*/src/*.js.map
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.*
.vscode-test
**/pnpm-lock.yaml
**/yarn.lock
.vercel
